#search-input{
    width:50%;
}

#search-input span.input-group-btn{
    position: absolute;
    right: .5rem;
    transform: translateY(-50%);
    top: 50%;
}

.w-100{
    width:100%;
}

h1,h2,h3,h4,h5,h6{
    text-transform:uppercase;
    letter-spacing:.1rem;
}

h5{
    font-size:1.2rem;
}


